﻿@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

body, html {
    padding: 0;
    margin: 0;
    font-family: 'Philosopher', sans-serif;
    background: #dfc8ff;
    color: #FFFFFF;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.head {
    flex: 0 0 auto;
}

.body {
    flex: 1 0 auto;
}

.foo {
    flex: 0 0 auto;
}

.head {
    background-color: #00000b;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.siteName {
    text-decoration: none;
    position: relative;
    font-size: 2rem;
    line-height: 1;
    color: #FFFFFF;
}

.siteName::before {
    filter: invert(1);
    position: absolute;
    content: "";
    float: left;

    left: -2rem;

    width: 2rem;
    height: 2rem;

    background-image: url("Images/book-of-black-cover-closed.png");
    background-repeat: no-repeat;
    background-position: center;    
    background-size: cover;

}

.body {
    margin: 0 auto;
    width: 80%;
    display: flex;
}

.content {
    padding: 2rem;
    width: 80%;
    background-color: #988ce1;
}

.navigate {
    padding-top: 1rem;
    width: 20%;
    background: #292847;
}
.menu {
    text-align: center;
    padding: 0 10% 0 10%;
    margin: 0;
    list-style: none;
    line-height: 2;
    list-style-position: inside;
}

.menu>li {
    margin: 0;
    font-size: 1.2rem;
    border-bottom: 2px solid black;
}

.menu>li>a {
    text-decoration: none;
    color: white;
}

.content>div:first-child>p {
    margin-top: 0;
    padding-top: 0;
}

.content>div>p:first-child {
    font-weight: 700;
    font-size: 1.1em;
}

.news, .reviews {
    border-bottom: 2px solid black;
}

.foo {
    width: 100%;
    background: #00000b;
    text-align: center;
    padding: 1rem 0;
}

.about {
    font-size: 0.8rem;
}

.toTop {
    margin: 0 auto;
    margin-top: 0.5rem;
    display:block;
    background: #292847;
    width: 6rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.9em;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.icons {
    font-size: 0.8em;
}

.content {
    color: black;
}

.color1 {
    color: #00000b;
}

.color2 {
    color: #292847;
}

.color3 {
    color: #5b568f;
}

.color4 {
    color: #988ce1;
}

.color5 {
    color: #dfc8ff;
}

