﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <header class="head">
        <a name="top" class="siteName" href="/Home/Index">Бібліотека</a>
    </header>

    <section class="body">

        <div class="content">
                @RenderBody()
        </div>

        <div class="navigate">
            <ul class="menu">
                <li><a href="/Home/Index">Головна</a></li>
                <li><a href="/Guest/Index">Гостьова</a></li>
                <li><a href="">Анкета</a></li>
            </ul>
        </div>
    </section>

    <footer class="foo">
        <div class="about">©2021 - Kozmin Yevhenii | Email: pukazele@gmail.com</div>
        <div class="icons">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <a href="#top" class="toTop">На початок</a>
    </footer>
</body>
</html>
