﻿@{
    ViewBag.Title = "Головна";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var news in ViewBag.News)
{
<div class="news">
    <p>@news.Name</p>
    <p>@news.Text</p>
    <p>@news.Date</p>
</div>
}