﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var review in ViewBag.Reviews)
{
<div class="reviews">
    <p>@review.Author</p>
    <p>@review.Text</p>
    <p>@review.Date</p>
</div>
}

<div class="comment">
    <form method="post" action="/Guest/LeaveComment">
        <p>Введіть нікнейм: <input type="text" name="Author">
        <p>Введіть текст комментаря: <input type="text" name="Text">
        <p><button type="submit">Надіслати</button>
    </form>
</div>
